
header img{
    width: 150px;
    height: 150px;
}
header {
    background-color: #4285F4;
    display: inline;
    height: 200px;
    padding-top: 30px;
}
header h1{
    text-align: center;
    margin-left: 700px;
    margin-bottom: 40px;
    font-size: 60px;
    
} 
.divMsg{
    min-height: 60x;
}
header a {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
header nav a{
    float: right;
}
content {
    text-align: center;
}
content h1{
    margin: 20px;
    font-size: 50px;
}
content p{
    border: 1px solid black;
    height: 50px;
    padding-top: 10px;
    
    background-color: #e6e6ff;
}
content div a {
    color: #6666ff;
}
ul li{
    text-decoration: none;
}
form{
   
    max-width: 400px;
    margin: auto;
    max-height: auto;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #4285F4;
    color: white;
    height: 100px;
    padding: 30px;
    margin-top: 50px;
    
  }

ul li {
      list-style-type: none;
}
content h2 {
    margin: 30px;
    font-size: 40px;
}
